/* Login.module.css */
.container {
  background-color: var(--color-background);
  height: calc(100vh - 80px); /* Adjust for header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Agrandir', sans-serif;
  margin-top: 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 400px;
}

.form{
  padding: 0;
  margin: 0;
}

.form h2 {
  color: var(--color-text);
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.form input {
  width: 94%;
  padding: 0.65rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Agrandir', sans-serif;
}

.form button {
  width: 100%;
  padding: 0.65rem;
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Agrandir', sans-serif;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: var(--color-button-hover);
}

.or{
  color: var(--color-text);
}

.googlebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  background: #FFF;
  border: 1px solid #CCC;
  transition: transform 0.2s ease;
}

.googlebtn:hover {
  transform: scale(1.1);
}

.googlebtn img{
  width: 25px;
  margin-right: 10px;
}
.googlebtn p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  width: 90%;
}

.register {
  text-align: center;
  margin-top: 1rem;
  color: var(--color-text);
}

.register span {
  color: var(--color-text);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .formContainer {
    width: 90%;
    padding: 1.5rem;
  }

  .form h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    justify-content: center;
  }

  .formContainer {
    padding: 1.2rem;
    box-shadow: none;
    border: 1px solid #eee;
  }

  .form input {
    padding: 0.6rem;
  }

  .form button {
    padding: 0.4rem;
  }

  .or, .register{
    font-size: 0.8rem;
  }
}

/* Orentation landscape */
@media (max-height: 500px) and (orientation: landscape) {
  .container {
    margin-top: 30px;
  }
  .form{
    height: 80%;
    margin-bottom: 1.5rem;
  }
}